.toy-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px; 

    h2 {
      font-size: em(24px);
      margin-bottom: 20px;
    }
    
    label {
      display: block; 
      margin-bottom: 5px;
      font-weight: bold;
    }
    
    input[type="text"],
    input[type="number"] {
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      width: 100%; 
      margin-bottom: 15px;
    }
    
    input[type="checkbox"] {
      margin-right: 5px;
    }

    button.btn{
        background-color: $clr3;
        margin-inline-end: 1em;
    }
    
    a.btn{
        background-color: $clr4;
    }

  }
  